
// 1.General

// *{
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   margin: 0px;
//   padding: 0px;

// }
a{
 text-decoration: none;

}

ul{
  margin: 0;
  padding: 0;
}

a:hover{
  color: rgb(127, 158, 0);
}



// custom css
html{
  scroll-behavior: smooth;
}

// body{

//   font-family:'Roboto',sans-serif;
//   font-size: 100%;
//   font-family: 400;
//   // background-color:$primary-Color


// }

// ::-webkit-scrollbar{
//   width: 0.425rem;
// }

// ::-webkit-scrollbar-track{

//   background:var(--white-color);
// }
// ::-webkit-scrollbar-thumb{
//   background: var(--primary-color);
// }



.all{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    font-family:'Roboto',sans-serif;
    font-size: 100%;
    font-family: 400;

}

h1{

  font-size: 3.1rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color:var(--text-secondary);
  text-transform: capitalize;
}
h2{

  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.3;

  color:var(--text-secondary);
  text-transform: capitalize;
}
h4{

  font-size: 1.125rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  color:var(--text-secondary);
  text-transform: capitalize;
}
h5{

  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color:var(--text-secondary);
  text-transform: capitalize;
}
p{
font-size: 1rem;
color:var(--text-color);
font-weight: 400;
line-height: 1.75rem;
letter-spacing: .0625rem;

}

.main-btn{
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.625rem 1.875rem;
  box-shadow: 0.125rem 0.625rem -0.625rem rgb(0 0 0 /19%);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition:  all 0.4s ease-out 0s;
  -moz-transition:all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  border: 0.1875rem solid var(--primary-color);
  background-color: var(--primary-color);
  color:var(--black-color);

  &:hover{
    background: transparent;
    color: var(--text-primary);
  }

}
.wrapper{
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.text-content{
  width: 70%;
  margin: 0 auto;
}

.counter-section h2,.testimonial-section h2,.book-food-text h2{

  color:var(--primary-color)
}

.imgicon{
  width:25px; margin-left:5px ;
}

// navbar-section//////////////////////////////
.nevigation-wrap{


   .navbar-brand img{
      width: 12rem;
      };

   .nav-item{
    padding: 0 0.625rem;
     transition: all 200ms linear;

     a{
      color: blue;
      //  letter-spacing: 0.625rem;
       letter-spacing: 3px;
       border:2px solid transparent;




       &:hover{
         color: #F5C332;
         background-color:black;
        //  border-radius: 10%;
         border: 2px solid var(--primary-color);

       }

     }

    }

    .navbar-toggler:focus{
      box-shadow: none;
      border:1px solid black;
      background-color: #F5C332;
      outline: none;


    }

    .nav-link{

      font-weight: 600;
      text-transform: capitalize;
      color: var(--text-secondary);

    }

    .main-btn{
      padding: 0.3125rem 1.4375rem;
      box-shadow: none;
      margin-left: 0.625rem;
    }





}

.onscroll{
  position: fixed;
  width:100%;
  left:0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out ;
  background-color: var(--white-color);

    }


// top-banner-section start/////////////////////////////////////

.top-banner{
  width: 100%;
  background-image: url('/assets/images/bg/bg-1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14.75rem 0 9.375rem;


}

//top-banner-section end/////////////////////////////////////

// counter-section-start////////////////////////////////////
.counter-section{
  background-color: var(--black-color);
  padding: 2.5rem 0;
  p{
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 0px;
  }
}

// counter-section-end////////////////////////////////////


// aboutsection-start/////////////////////////////////////////////////////
  .food-type{
    padding-top:3.25rem;

    ul{
      li{
        font-size:1rem;
        color:var(--text-color);
        line-height: 2rem;
        position:relative;
        margin-left: 1.875rem;
          &::before{
          //  position: absolute;
          //  left:-2.1875rem;
          //  color:var(--text-primary);
          //  font-family:'Font Awesome 5 Free';
          // content: '\f00c';
          //  width: 10px

          content: '';
          background:url('/assets/generalicons/icons8-checked.svg');
          background-size: cover;
          position: absolute;
          width: 20px;
          height: 20px;
          margin-left: -26px;
          color: var(--primary-color);
          margin-top: 3px;


         }

      }
    }

  }




  // p:after {
  //   width: 48px;
  //   height: 48px;
  //   content: url(https://gh.max.ax/heart.svg);
  // }

  // .red:after {
  //   filter: hue-rotate(14deg);
  // }

  // .green:after {
  //   filter: hue-rotate(120deg);
  // }

  // .blue:after {
  //   filter: hue-rotate(210deg);
  // }

  // .black:after {
  //   filter: grayscale(100%);
  // }




// aboutsection-end/////////////////////////////////////////////////////


// storysectionstart////////////////////////////////////////////////////////////////
.story-section{
  width: 100%;
  height: 28.125rem;
  background-image: url('/assets/images/bg/bg-2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 6.25rem;
  text-align: center;


}

// storysectionend////////////////////////////////////////////////////////////////



// ExploreFoodStart/////////////////////////////////

.explore-food{

  .card{
    background:transparent;
    border-radius:0.9375rem;
    border:0.125rem dashed var(--primary-color);

    img{
     border-radius: 0.9375rem 0.9375rem 0 0;
     object-fit: cover;

    }

    span{

      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      color:var(--text-primary);
      padding-bottom: 1rem;
      border-bottom: 0.0625rem solid var(--primary-color);
    }

    del{
      color: var(--text-gray);
      margin-left: 0.5rem;
    }

  }


}
// ExploreFoodEnd/////////////////////////////////

// TestimonialStart///////////////////////////////
 .testimonial-section{
    background-image: url('/assets/images/bg/bg-4.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    .carousel-item{
     margin-top: 3rem;
     padding: 10rem 3.125rem;
     background-color: var(--white-color);
     border-radius: 0.9375 rem;
     text-align: center;


     img{
       max-width: 5rem;
       border-radius: 50%;
       padding: 0.3125rem;
       border: 0.125rem solid var(--primary-color);
     }
     .carousel-caption{
        p{
         font-size: 1rem;
         padding:0.625rem 11%;
         line-height:2rem;
        //  padding: 0.1rem 11%;
        //  line-height: 29px;
        }
     }
    }

    .carousel-indicators{
      bottom: -4.9125rem;

      button{

        width:10px;
        height:10px;
        border-radius:50%;
        margin: 5px;
      }

    }

 }

// TestimonialEnd///////////////////////////////

// teamstart//////////////////////////////
.team{

  .card{

    background-color: var(--black-color);
    border-radius: 0.625rem;
    border: 0.25rem solid var(--primary-color);
    text-align: center;

    img{

      border-radius: 0.625rem 0.625rem 0 0;
    }
  }
  h4{
  color: var(--primary-color);
  text-transform: uppercase;

  }

h6,p{

  color: var(--text-white);
}

.social-icons{
  img{
    font-size: 1.125rem;
    padding: 5px;
    // transition: 0.3s all ease-in;
    margin: 0.3125rem;

    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 50%;
    width: 2.1875rem;
    height: 2.1875rem;
    line-height: 2.1875rem;
    &:hover{
      background-color: var(--primary-color);
      color: var(--white-color);
      border: 2px solid white;

    }


  }
}

}

// teamend/////////////////////////////

// book-start//////////////////////////////
.book-food{
  width: 100;
  background: url('/assets/images/bg/bg-3.jpg');
  background-position:0 0.4945rem;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4.375rem 0;
  background-attachment: fixed;



}

// book-end//////////////////////////////

// appstart/////////////////////////
.download-app{

  width: 100;
  background: url('/assets/images/bg/bg-5.jpg');
  background-position:0 0.4945rem;
  background-size: cover;
  background-repeat: no-repeat;


}

// appEND/////////////////////////


// footerstart//////////////////////////////

/* Footer CSS */

.footer_wrapper {
  // background: url('src/assets/images/bg/bg-1.jpg');
  background-color:var(--primary-color);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: top center;
  padding-top: 5rem;
  padding-bottom: 0rem;
}

.footer_wrapper  {
  h5{
    color: var(--black-color);
    font-size: 1.7rem;
    margin-bottom: 1.25rem;
  }

}

.footer_wrapper  {
  ul{
    li{
      margin-bottom: .5rem;
      list-style: none;
    }

  }

}

.footer_wrapper  {
  .company_details{
    font-size: 1.2rem;
  }

}

.footer_wrapper  {
  .contact-info{

    li{
      a{
        color: var(--text-color);
        font-size: 1.2rem;
      }

    }

  }

}

.footer_wrapper  {
  .link-widget{
    li {
      a{
        color: var(--black-color);
        font-size: 1.2rem;
        padding-left: 1.5rem;
        position: relative;
        -webkit-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
      }
    }
  }
  p{
    color: var(--black-color);
    font-size: 1.2rem;
    padding-left: 1.5rem;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }

}

.footer_wrapper {
  .link-widget {
    li {
      a::before{
        // // content: '\f105';
        // // font-family: "Font Awesome 5 Free";
        // font-weight: 900;
        // position: absolute;
        // left: 0.3rem;
        // top: 50%;
        // -webkit-transform: translateY(-50%);
        // transform: translateY(-50%);

        content: '';
        background:url('/assets/generalicons/chevron-right.svg');
        background-size: cover;
        position: absolute;
        width: 20px;
        height: 20px;
        margin-left: -26px;
        color: var(--primary-color);
        margin-top: 3px;

      }
    }


  }

}

.footer_wrapper  {
  .link-widget {
    li {
      a:hover{
        margin-left: .625rem;
        color: var(--white-color);
      }
    }

  }

}

.footer_wrapper {
  .social-network {
    img {
      // width: 3.5rem;
      // height: 3.5rem;
      // margin: .5rem;
      // line-height: 3.2rem;
      // font-size: 1.5rem;
      // display: inline-block;
      // border: .125rem solid var(--white-color);
      // color: var(--white-color);
      // background-color: #fff;
      // text-align: center;
      // border-radius: 100%;
      // -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      // transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

      font-size: 1.125rem;
      padding: 5px;
      // transition: 0.3s all ease-in;
      margin: 0.3125rem;

      background-color: var(--white-color);
      color: var(--primary-color);
      border-radius: 50%;
      width: 2.1875rem;
      height: 2.1875rem;
      line-height: 2.1875rem;
      &:hover{
        background-color: var(--primary-color);
        color: var(--white-color);
        border: 2px solid white;

      }

    }
  }


}

// .footer_wrapper  {

//   .social-network{
//     a:hover{
//       background-color: var(--white-color);
//       border-color: 2px solid var(--white-color);

//       color: var(--primary-color);
//       box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 / 10%);
//       transform: translateY(-0.1875rem);
//     }
//   }


// }

.footer_wrapper {

  .form-control{
    font-size: 1rem;

  }

}

.footer_wrapper{
  .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--secondary-color);
  }

}

.footer_wrapper {
  .copyright-section{
    background-color: var(--black-color);
    text-align: center;
    margin-top: 5rem;
  }

}

.footer_wrapper {
  .copyright-section{
    p {
      margin-top: 0;
      padding: 3rem 0;
      line-height: 0;
      color: white;
    }
  }
}

.footer_wrapper{
  .copyright-section{
    a{
      color: var(--white-color);
      font-weight: 600;
    }
  }


}


// footereng//////////////////////////////




@media(max-width:991px){

// custom css

h1{
  font-size: 2.1875rem;
}
h2{
  font-size: 1.375rem;
}
.text-content{
  width:100%
}
.wrapper{
  padding-top: 4.25rem;
  padding-bottom: 3.25rem;
}

// navbar//////////////////////////////
.nevigation-wrap{
  text-align:center;
  background-color: var(--white-color);

  .nav-link{
    line-height: 1.875rem;
  }

  // topbanner//////////////
  .top-banner{
    padding: 6.375rem 0.4375rem !important;
  }

}

.carousel-caption{
       p{
        font-size: 1rem !important;
        padding:0 !important;
   }

}
.carousel-indicators{
  bottom: -3.9125rem;
}


}

@media(max-width:767px){

// custom css

h1{
  font-size:30px;
}

//navbar css
.nevigation-wrap{

  .navbar-brand img{
    width: 11rem;
    };

}

//storysection css//////////////////////////////

.story-section{
  height: auto;
  padding: 3rem 0;



}

.carousel-indicators{
bottom: -4.9125rem !important;
}

.carousel-item{
  padding: 11rem 3.125rem !important;
}
.testimonial-section{

    padding: 4rem 0.5rem !important;
}

.footer_wrapper {
  p {
    font-size: 1rem;
  }
}

}


@media(max-width:330px){

    .carousel-item{
      padding: 13rem 3.125rem !important;
    }

    .footer_wrapper {
      p {
        font-size: 0.5rem;
      }
    }


}
